@charset "UTF-8";

.navbar {
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

a {
  color: #3a373e;
}

a:hover { 
  color: #343a40;
}

.text-primary {
  color: #343a40 !important;
}

.brand {
  font-family: 'Crimson Pro', serif;
  font-size: 36px;
  color: #343a40;
  text-transform: capitalize;
}

body {
  font-family: 'Josefin Sans', serif, 'KaiTi', '楷体', STKaiti, '华文楷体', serif;
  text-color: #3a373e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', serif, 'KaiTi', '楷体', STKaiti, '华文楷体', serif;
  font-weight: 800;
  color: #54474D;
}

/* img-hover-text effect */
.img-hover-text {
  position: relative;
}

.img-hover-text .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(68,68,68,.8);
}

.img-hover-text:hover .overlay {
  opacity: 1;
}

.img-hover-text .text {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
}

/* img-hover-text effect */

