@charset "UTF-8";

body {
  position: relative;
}

/* center brand */
.navbar {
  border-bottom: 1px solid #DDDDDD;
  position: relative;
  font: normal 14px Roboto;
}

.navbar-brand {
    font: normal 30px Roboto;
}

a {
  color: #1D003D;
}

a:hover {
  color: #1D003D;
}

.text-primary {
  color: #1D003D !important;
}

.btn-primary{
  background: #1D003D;
}

/* dropdown menu */
.dropdown .dropdown-item {
  font: normal 14px Roboto;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
/* end of dropdown menu */

/* image hover */
#publication img {
  opacity: 1.0;
}

#publication img:hover {
  opacity: .75;
}

/* svg map */
#buildings a:hover { 
  filter: brightness(85%); 
}

.map-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-bg: #94cdd3;
  --bs-popover-header-bg: #2e6679;
  --bs-popover-header-color: #FFFFFF;
  --bs-popover-body-padding-x: .5rem;
  --bs-popover-body-padding-y: .5rem;
}

/* svg map effect end */

/* index articles */
#articles .card a:link { text-decoration: none; }
#articles .card a:visited { text-decoration: none; }
#articles .card a:hover { text-decoration: none; }
#articles .card a:active { text-decoration: none; }
/* index articles end */

/* timeline */
.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #FFFFFF;
  border: solid 1px #AAAAAA;
  left: -41px;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  content: "";
}
/* timeline end */

/* scrollspy sidebar */
.scrollspy-sidebar a.nav-link{ 
  color: #3a373e;
}

.scrollspy-sidebar a.nav-link.active{ 
  font-weight: bold !important;
}
/* scrollspy sidebar end */

