@charset "UTF-8";

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
    border-top: thick double #000;
    border-bottom: thick double #000;
}

.active{
    font-weight: bold;
} 

.td-green {
  background-color: #8Fb9A8 !important;
}

.td-peach {
  color: #8Fb9A8 !important; 
  background-color: #fbd2bb !important;
}

.td-peach p,ul {
  color: #8Fb9A8 !important; 
}

.navbar .navbar-nav .nav-item:not(:last-child) ::after {
    content: "\00a0\00a0\00a0\25CF";
}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
    padding-top: .5em;
    padding-bottom: 1.5em;
  }
}

.brand {
  font-family: 'Titan One', serif; 
  font-size: 36px;
  color: #F1828D;
  text-transform: capitalize; 
}

.bg-light {
   background-color: #fbd2bb !important;
}

a {
  color: #3a373e;
}

a:hover { 
  color: #343a40;
}

.text-primary {
  color: #343a40 !important;
}

body {
  font-family: 'Poppins', serif, serif;
  font-size: 16px;
  text-color: #807171;
  background-color: #fbd2bb !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', serif, serif;
  font-weight: 800;
  color: #54474D;
}

/* img-hover-text effect */
.img-hover-text {
  position: relative;
}

.img-hover-text .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #8FB9A8;
}

.img-hover-text:hover .overlay {
  opacity: 1;
}

.img-hover-text .text {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* img-hover-text effect */

