@charset "UTF-8";

body {
font-family: 'Quicksand', sans-serif;
}

h1,h2,h3,h4,h5,h6{
font-family: 'Rowdies', cursive;
}

/* svg map */
#SFChinatown2023 a:hover { 
  filter: brightness(85%); 
}

/* svg map effect end */


